  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <span class="navbar-brand">DANIEL SILVA</span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse " [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav m-auto "> <!-- mr/ml/m changes align-->
        <li class="nav-item mr-3" ngbDropdown>
          <a class="nav-link" tabindex="0"  role="button" [routerLink]="['/welcome']">
            WELCOME
          </a>
        </li>
  
        <li class="nav-item mr-3" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button" >
            PORTFOLIO
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem [routerLink]="['/portfolio']" href="#" (click)="$event.preventDefault()">All projects</a>
            <a ngbDropdownItem [routerLink]="['/portfolio/survey-page']" href="#" (click)="$event.preventDefault()">Survey</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" role="button" [routerLink]="['/contactme']">
            CONTACT ME
          </a>
        </li>
  <!-- DROP DOWN EXAMPLE
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> //change for id="navbarDropdown2"... id="navbarDropdown3" 
            Dynamic
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
