<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Survey</span>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="navbar-collapse " [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav mr-3 "> <!-- mr/ml/m changes align-->
            <li class="nav-item mr-3" ngbDropdown>
            <a class="nav-link" tabindex="0" role="button" [routerLink]="['/portfolio/survey-page']">
                Home
            </a>
            </li>
            <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" role="button" [routerLink]="['/portfolio/survey-page/mysurvey']">
                My Survey
            </a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="button">Search</button>
        </form>
        </div>
    </div>
  </nav>


  <!-- END Navbar-->


    <div class="mr-2 p-5 bg-primary text-white">
        <h1>Survey application</h1>
        <p>You can create oyur own survey and respond others.</p>
    </div>

      
