<h2> Portfolio</h2>
<div class="container">
    <form class="ui large form segment">
        <h3 class="ui header">Add Project</h3>
        
        <div class="field">
            <label for="title">Title:</label>
            <input name="title" id="title" #newtitle>
        </div>
        <div class="field">
            <label for="link">Link:</label>
            <input name="link" id="link" #newlink>
        </div>
        <div class="field">
            <label for="description">Description:</label>
            <textarea rows="4" name="description" id="description" #newdescription></textarea>
        </div>
        <div class="field">
            <label for="youtube">YouTube:</label>
            <input name="youtube" id="youtube" #newyoutube>
        </div>
        <div class="field">
            <label for="date">Date:</label>
            <input name="date" id="date" #newdate>
        </div>
        <button (click)="addProject(newtitle, newlink, newdescription, newyoutube, newdate)"
            class="ui positive right floated button">
            Add Project
        </button>
    </form>
</div>
<div class="container ui grid posts">
    <app-project *ngFor="let project of sortedProjects()"
    [project]="project">
    </app-project>
</div>





