<div class="container-fluid">
    <img class="title circular--square centralized" src="../../assets/images/daniel.jpeg" />
    
    <h2 class="title centertext">Hi! My name is Danie Silva</h2>
    <h4 class="centertext" style="margin-bottom:30px">I am Student and Web Developer</h4>
</div>
<div class="centertext">
    <fa-icon [icon]="linkedin" size="2x" style="margin:20px"></fa-icon>
    <fa-icon [icon]="envelope" size="2x" style="margin:20px"></fa-icon>
    <fa-icon [icon]="github" size="2x" style="margin:20px"></fa-icon>
</div>
