<div class="container border border-primary">
    <div class="m-2 p-2">
    <div class="row">
        <div class="col-sm-2">
           <img src="{{ project.link }}" alt="#" width="150" height="150">
           <div class="ui big">
            <a href (click)="voteUp()">
                {{ project.votes}}
                <i class="arrow up icon"></i>
            </a>
           </div>
          
        </div>
        <div class="col-sm-9">
            <a class="ui large header" href="{{ project.link }}">
                {{ project.title }}
            </a> <span class=""> {{project.date}}</span>
            <div class="meta">({{ project.domain() }})</div>
            <div ngClass="container">
                {{ project.description }}
            </div>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-lg btn-outline-primary" style="width: 90px" >Edit</button>
            <button class="btn btn-lg btn-outline-danger" style="width: 90px">Delete</button>
        </div>

    </div>
    <div class="row">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
            <ngb-panel title="Video presentation">
              <ng-template ngbPanelContent>
                  
                <!--<iframe width="425" height="344"  src={{project.youtube}}></iframe> Needs to add video -->
              </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
</div>
